body{
  margin: 0px;
  padding: 0px;
}
.container{
  width: 100px;
  height: 100vh;
  align-items: center;
  
}.container input{
  width: 450px;
  height: 30px;
  align-items: center;
  margin-left: 500px;
  margin-top: 200px;
}.card{
  height: 200px;
  width: 150px;
  background-color: rgba(238, 238, 245,1);
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  
}